@model IEnumerable<Biblioteca.Models.prestamo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.modalidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha_reserva)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.datosLibro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.modalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_reserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datosLibro.ISBN)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cod_prest">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cod_prest">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cod_prest">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
